section {
    width: 100%;
}

#landing {
    height: 100vh;
    width: 100%;
}

#landing #heading {
    text-align: left;
    font-size: 32px;
    margin-left: 16px;
    display: inline-block;
}

#landing #heading #random-title  {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 1s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    border-right: 4px solid orange;
    box-sizing: border-box;
    padding-right: 8px;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}